* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #000;
    background-color: #f9f9f9;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover {
    color: #fff;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(b1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    transition: 5s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
}

.home-content h3 span {
    color: #000;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.home-sci a:hover {
    background: gray;
    color: #fff;
    box-shadow: 0 0 20px gray;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #000;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px gray, 0 0 25px gray;
}

.btn-box:hover {
    box-shadow: 0 0 5px gray, 0 0 25px gray, 0 0 50px gray, 0 0 100px gray, 0 0 200px gray;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border-bottom: #000;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: gray;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #000;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: #000;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 600px;
    padding: 75px 90px;
    margin-left: 120px;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animateLine 1s cubic-bezier(1, 0, 0, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animateLine {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: gray;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: gray;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0, 5) 1s forwards;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 90%;
}

.progress-line.javascript span {
    width: 85%;
}

.progress-line.python span {
    width: 95%;
}

.progress-line.java span {
    width: 65%;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    width: 90%;
}

.progress-line.css span::after {
    width: 90%;
}

.progress-line.javascript span::after {
    width: 85%;
}

.progress-line.python span::after {
    width: 95%;
}

.progress-line.java span::after {
    width: 65%;
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 50px;
}

.radial-bar {
    width: 48%;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    fill: transparent;
    text-align: center;
}

.radial-bar svg {
    width: 100%;
    height: 100%;
}

.percentage {
    font-size: 24px;
    color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes drawCircle {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: gray;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 120;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 90;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 150;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 110;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: gray;
}

.contact-text h4 {
    margin: 15px;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: gray;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: gray;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 20px;
    color: gray;
    text-decoration: none;
    margin: 10px;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i, 1));
}

.contact-icons i:hover {
    background: gray;
    color: #000;
    box-shadow: 0 0 20px gray;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: 2px #000;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: gray;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1 ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px gray, 0 0 25px gray;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px gray, 0 0 25px gray, 0 0 50px gray, 0 0 100px gray, 0 0 200px gray;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: gray;
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #000;
    background: gray;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes showText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}